.lead__image-container {
  max-width: 984px;
  max-height: 615px;
  margin: 64px auto 0;
}

@media screen and (max-width: 1030px) {
  .lead__image-container {
    margin: 56px auto 0;
  }
}

@media screen and (max-width: 320px) {
  .lead__image-container {
    margin-top: 40px;
  }
}
