.cover {
  box-sizing: border-box;
  max-width: 1184px;
  margin: 88px auto 0;
  background-image: url(../../../images/trains_background.png);
  background-position: center;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: stretch;
}

.cover::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  padding-top: 62.5%;
}
@media screen and (max-width: 1030px) {
  .cover {
    margin-top: 92px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    margin-top: 90px;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    margin-top: 66px;
  }
}
