.footer__list-item {
  display: inline;
  padding-right: 18px;
}

.footer__list-item:last-of-type {
  padding-right: 0;
}

@media screen and (max-width: 545px) {
  .footer__list-item {
    display: flex;
    padding-bottom: 32px;
  }
}
